{% extends "base.html" %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    {% if messages %}
                    <div id="alertMessage">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                    <h5>Envoyer un message</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.receiver.label_tag }}
                            {{ form.receiver }}
                            {% if form.receiver.errors %}
                                <div class="text-danger">
                                    {{ form.receiver.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.contenu.label_tag }}
                            {{ form.contenu }}
                            {% if form.contenu.errors %}
                                <div class="text-danger">
                                    {{ form.contenu.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
